@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #cbc5c529;
    /*opacity: 0.3;*/
    padding-bottom: 25px;
}

.header-div {
    display: flex;
    width: 70%;
}

#logo {
    margin: 2rem 0 0 5rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

#logo b {
    color: blue;
}

#search {
    width: 400px;
    height: 30px;
    background-color: #ede8e8;
    margin: 1.7rem 0 0 5rem;
    border-radius: 25px;
    outline: 1px solid #0000003b;
}

#search input {
    height: 100%;
    width: 90%;
    border: none;
    background-color: #ede8e8;
    border-radius: 25px;
    padding-left: 25px;
    outline: none;
}

#search button {
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#search button:hover {
    color: rgb(46, 46, 168);
}

.login {
    outline: none;
    margin: 1.9rem 2rem 0 0;
    padding: 0 15px;
    cursor: pointer;
    color: #000;
    background: transparent;
    font-family: 'Kanit', sans-serif;
    /* background: #e5e4f3; */
    /* background: rgb(25, 25, 195); */
    border: none;
    border-radius: 18px;
    letter-spacing: 1px;
    font-size: 18px;
}

.login:hover {
    /*background: rgb(17, 17, 121);*/
    color: rgb(45, 45, 232);
    font-weight: 800;
    transition: 0.2s;
    text-decoration: underline;
}

@media screen and (max-width: 805px) {
    #logo {
        margin: 2rem 0 0 2rem;
        letter-spacing: 0;
        font-weight: bold;
        font-family: 'Press Start 2P', cursive;
    }
    #search {
        width: 400px;
        height: 30px;
        background-color: #ede8e8;
        margin: 1.7rem 0 0 3.5rem;
    }
    #search input {
        width: 80%;
        padding-left: 5px;
        font-size: 14px;
        outline: none;
    }
    #search button {
        border-radius: 25px;
    }
    .login {
        /*width: 100px;
        letter-spacing: 0;
        position: absolute;
        left: 80%;
        margin-top: 1.3rem;
        height: 25px;*/
        margin-right: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .header-div {
        display: inline-block;
        margin: 1rem 0 0 0;
        width: 100%;
    }
    #logo {
        font-size: 12px;
    }
    #search {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    #search input {
        width: 80%;
    }
    #search button {
        width: 18%;
    }
    .login {
        font-size: 16px;
        position: absolute;
        left: 70%;
        margin-top: 0.7rem;
        height: 25px;
    }
}